/indexer
/yanakilla
/bin/

*.prof
*.pprof



data/
enron_mail_*/
*.tgz

node_modules/
.DS_Store
.env

.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example

tls/
crash.log
crash.*.log

tfplan
*.tfplan
